<h2>Edit a comment</h2>

<%= form_for [@show, @review, @comment] do |f| %>

  <div><%= f.label :text %><br />
  <%= f.text_area :text %></div>

  <div><%= f.submit "Submit Comment" %></div>
<% end %>
